.container {
    height: 100%;
}

.sidenav {
    width: 13rem;
    background: black;
}

.sidenav a {
    color: white;
}

.sidenav i {
    margin-right: .6rem;
}

img {
    width: 100%;
    height: 7rem;
    margin: .8rem auto 1rem auto;
}

.menu {
    margin: 1rem 0 0 1rem;
    color: black;
    background: #ebf4f5;
}