.container{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  width: 30rem;
  margin: auto;
  background-color: whitesmoke;
  padding: 4rem 1rem;
  border-radius: 1rem;
}

h1{
  width: 100%;
  text-align: center;
  color: blue;
}

img{
  height: 15rem;
  width: auto;
  margin: 1.5rem auto 1.5rem auto;
  display: flex; 
}

.full-width {
  width: 100%;
}

button{
  margin-top: 1.5rem;
}


